[2016-03-03 16:36] agauniyal opened #1 "Sample image for readme"
![out-compressor](https://cloud.githubusercontent.com/assets/7630575/13501282/0bd00074-e18c-11e5-9848-5bd1f20566d9.gif)

[2016-03-03 16:36] #1 closed

[2016-03-24 19:25] datgame opened #2 "no windows < 10 support"
just making this issue so i can be notified when there is support :)

[2016-04-07 07:07] agauniyal commented on #2
I'll try to add support for windows by this week. Btw you'll be glad to know that if you include `<windows.h>` and probably `<io.h>` header files instead of `<unistd.h>`, the current solution works fine for windows 10 :smile:

[2016-04-07 14:16] agauniyal commented on #2
[code]

[2016-04-08 04:05] agauniyal commented on #2
I've tested the latest commit on windows 10 - visual c++ compiler and everything works as intended :smile:

[2016-04-24 06:30] agauniyal commented on #2
I've made something that works but it's bit of ugly for now. I've my semester exams and will work on it after they end.

[2016-06-21 15:36] dileepsankhla opened #4 "←[0m←[42m←[37mIf in the console ouptut instead of showing bg and fg colors"
I tried your windows version of header file `rang.hpp `on windows 8.1 using visual C++ compiler (IDE: Visual Studio 12.0) and this was the output for the source code `visualTest.cpp`:

`←[0m←[42m←[37mIf you're seeing green bg, then rang works!←[0m`

I will be glad to contribute in this project for developing this header only library for windows version.

[2016-06-21 15:36] dileepsankhla commented on #2
I tried your windows version of header file rang.hppon windows 8.1 using visual C++ compiler (IDE: Visual Studio 12.0) and this was the output for the source code visualTest.cpp:

←[0m←[42m←[37mIf you're seeing green bg, then rang works!←[0m

I will be glad to contribute in this project for developing this header only library for windows version.

[2016-06-21 15:56] agauniyal commented on #4
Currently rang supports only up to date Windows 10 machines since the newer cmd supports colorful output similar to Linux machines. You need to look at [SetConsoleTextAttribute](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686047%28v=vs.85%29.aspx) function and determine windows version < 10 at compile time, and provide appropriate calls using SetConsoleTextAttribute for them. So the

[2016-09-03 09:46] agauniyal opened #6 "Let's do 1.0"
- [x] General maintenance - https://github.com/agauniyal/rang/pull/5
- [x] Update catch version - https://github.com/agauniyal/rang/pull/7
- [x] Build with meson - https://github.com/agauniyal/rang/pull/8
- [x] Allow users to download via meson - wrapdb - https://github.com/agauniyal/rang/pull/8
- [x] Update coveralls-cmake - https://github.com/agauniyal/rang/pull/10
- [x] Improve coverage > 95% -

[2016-09-03 12:41] agauniyal commented on #6
Done!

[2016-09-03 12:41] #6 closed

[2016-09-03 12:42] agauniyal commented on #4
Dulplicate of #2

[2016-09-03 12:42] #4 closed

[2016-09-12 15:16] agauniyal opened #14 "avoid multiple pointer copies"
Current approach of capturing initial pointer to `cout`/`clog`/`cerr` buffer requires multiple copies since each .cpp file that'll include it will have their own copy.

But since the lib is using just 3 pointers within internal linkage, the overhead is almost negligible. But it can be resolved by providing static returns from function, see this **[stackoverflow question](http://stackoverflow.com/q

[2016-09-24 22:03] AxelStrem commented on #14
Is it a good idea to store the initial pointers at all? I can see it is done to prevent outputting color controlling sequences into file streams, but what if this is a desired behavior? e.g. the file is then streamlined back into the terminal, and user expects to see colors.
 Also introducing any kind of indirection like some temporary ostream buffer would break the coloring because of captured po

[2016-09-25 01:40] agauniyal commented on #14
@AxelStrem  I've discussed about it a couple of times and I'll still like that current behavior should be default behavior, so user doesn't needs to write the code himself. What we can do is to provide a custom stream manipulator like `std::hex`, which user can conditionally set to disable this default behavior and output color sequences even on non-tty interfaces like files.

Here's something to

[2016-09-25 04:53] AxelStrem commented on #14
@agauniyal Okay, after some consideration, it seems the proposed solution [obviously] won't work after all - as static variables are initialized upon the first function call, user can change rdbuf beforehand.

This either requires some explicit init() call from user, which in turn can provoke some order-of-initialization issues on user side, or introducing some global object - which is basically r

[2016-09-25 04:57] agauniyal commented on #14
@AxelStrem, Yes an init function would be needed but only if user tries to change `rdbuf`, so we could put a note - call `rang::init()` before changing the rdbuf of `cout`/`cerr`/`clog` or ignore this if you aren't changing it.

I also commented on the accepted answer about this problem but I guess it wasn't visible haha.

[2016-09-25 07:55] AxelStrem commented on #14
@agauniyal I did see your comment, but I thought you were asking about the need to explicitly initialize in general, and the answer author thought the same since he denied that need.

Anyway, you want me to do it? I'll have to tweak your tests too though.

[2016-09-25 08:04] AxelStrem commented on #14
I should also note that c++17 will provide **inline variables** that seem to be startup-initialized, so maybe it would be a better idea to wait for them instead, and to leave the interface as it is for now, with no intrusive `init()` calls.

[2016-09-28 11:21] #14 closed

[2016-09-28 11:23] agauniyal opened #19 "option to force coloured output even on non-tty streams"
See previous discussion here - https://github.com/agauniyal/rang/issues/14#issuecomment-249397444

[2016-09-28 12:16] AxelStrem commented on #2
Can I do it? My original intention was to fix this as it pretty much prevents me from using the lib

[2016-09-28 12:18] agauniyal commented on #2
Sure :) Here's another relevant comment you might find helpful - https://github.com/agauniyal/rang/issues/4#issuecomment-227485676

[2016-09-28 13:27] agauniyal commented on #2
http://stackoverflow.com/questions/36543301/detecting-windows-10-version

[2016-09-28 15:23] AxelStrem commented on #2
Oh yeah, I know how to do it, there are some points I'm unclear on though, namely
- The fix can (ironically) conflict with issue #19 proposition: on Windows after user sets stream manipulator to write "colors" to non-tty stream, coloring will still affect console instead. No idea how to prevent that yet.
- Is it smart to dynamically detect windows version? Wouldn't it be better to just drop stream

[2016-09-28 16:31] agauniyal commented on #2
@AxelStrem -

I'm not sure if I'm aware of the problem you mentioned in point 1. Could you explain it a little bit?

About 2nd point, yes we could replace it with `SetConsoleTextAttribute` but I'm sure the next version of windows are not going to drop support for vt100 styled escaped codes soon since they recently started shipping it, but I cannot say that for `SetConsoleTextAttribute`.
Also there

[2016-09-29 12:42] AxelStrem commented on #2
Did it your way, tested locally so far, seems to work

[2016-09-29 13:34] agauniyal commented on #2
@AxelStrem do you mind if I add you as a collaborator?

[2016-10-01 09:18] #19 closed

[2016-10-01 09:58] agauniyal opened #23 "add appveyor badge to repo"
[![Build status](https://ci.appveyor.com/api/projects/status/jqpdoelli38h2a7w?svg=true)](https://ci.appveyor.com/project/agauniyal/rang)

[code]

PR must be opened against `develop` branch.

[2016-10-01 10:20] #23 closed

[2016-10-02 20:25] agauniyal opened #27 "write allColors test for testing library output visually"
Would contain all possible color, background and style outputs from the library and will use `rang::forceColor` by default.

[2016-10-03 10:28] agauniyal opened #29 "Upload lib to conan.io"
- https://www.conan.io/
 - https://github.com/conan-io/docs/issues/67

Make sure to open PR against [develop](https://github.com/agauniyal/rang/tree/develop) branch and not the master branch.

[2016-10-03 10:30] agauniyal opened #30 "Upload lib to wrapdb"
- https://wrapdb.mesonbuild.com/
- https://github.com/mesonbuild/meson/wiki/Adding%20new%20projects%20to%20wrapdb

Make sure to open PR against [develop](https://github.com/agauniyal/rang/tree/develop) branch and not the master branch.

[2016-10-03 10:32] agauniyal opened #31 "add windows gif to Readme"
Just like the existing Linux gif present in Readme. Make sure to open PR against [develop](https://github.com/agauniyal/rang/tree/develop) branch and not the master branch.

[2016-10-03 13:17] zeokav commented on #29
Hi! I'm new to the conan package manager and I need some clarifications for this issue. I have made a conanfile.py, exported it, which on installing is installing from the local conan sources and writing a package to /home/[username]/.conan/data/rang/1.0/zeokav/test/package/[packagename]
This package has the rang.hpp file that's required.

But on including it in a cpp file and executing it, it can

[2016-10-03 15:41] n1zzo commented on #27
I can do this, do you want some particular test pattern to be generated?

[2016-10-03 16:24] agauniyal commented on #27
Nothing fancy just some text that represents the color separated by new lines eg -

[code]
Set of conditions from the code -
[code]

 Use them as `rang::<enum class name>::<style type>` eg - `rang::fg::green`. Just make sure the text is visible in every case ie. don't keep bg and fg same. Some styles might not work on Linux or Windows or both but that's okay. Here's how a simple test is written -

[2016-10-03 16:36] agauniyal commented on #29
@zeokav tbh I haven't looked into conan docs yet(currently tight on schedule) but I've linked a past discussion above - https://github.com/conan-io/docs/issues/67. Here's one repo - https://github.com/memsharded/conan-date with single header solution, similar to us.

You can always open an issue on https://github.com/conan-io/docs/issues for resolving your query or comment on existing issue that I

[2016-10-03 16:37] agauniyal commented on #29
Another thing is you might want to submit PR against develop branch and not the master branch because develop branch has the latest changes on it :smile:

[2016-10-03 17:47] raj-maurya commented on #31
Hi @agauniyal ,

I would like to work on this issue #31.

[2016-10-03 17:58] agauniyal commented on #31
@raj-maurya You're free to take any issue, however it would be helpful if you wait-for/complete  issue #27 before this so that your gif contains different cases to be showcased. Or you could write your own code to demonstrate :smile:

[2016-10-03 18:00] zeokav commented on #29
I went through that discussion and the conan-date example. Where exactly is the header supposed to be placed when the package is downloaded? That should solve the problem. I include it using double quotes and it works fine ONLY when the cpp and the rang.hpp are in the same directory! :/

I'll submit a PR to the development branch tomorrow if I can figure something out!

[2016-10-03 18:28] agauniyal commented on #29
I've pinged conan's developer for some support. Unfortunately I'm unable to use conan since it's refusing to install on my system for unknown dep resolution bug -
[code]
Anyways I'll build it manually and look into this issue this weekend if it's not solved by then. Till then the only advice I could provide you is go through the docs - http://docs.conan.io/en/latest/getting_started.html to see if

[2016-10-03 21:15] memsharded commented on #29
Hi there!

Conan maintainer here, willing to help.

About the installation of conan for ArchLinux, it seems that you didn't install those dependencies, please check: http://docs.conan.io/en/latest/installation.html#install-from-aur-arch-linux. and also the thread on: https://github.com/conan-io/conan/issues/21

Also @tivek is the maintainer of the package, you might ask him too for help.

[2016-10-03 21:46] memsharded commented on #29
I have created a package for rang, for header only libraries is always very similar, so when you know a bit about the conan recipes and flows, it is not difficult (I did it in about 3 minutes):

- Github repo for the recipe: https://github.com/memsharded/conan-rang
- Package in conan.io: https://www.conan.io/source/rang/1.0/memsharded/stable

I have create a package recipe **outside** the repo. Th

[2016-10-04 01:41] ShyamW opened #32 "No Windows 10 Support"

[2016-10-04 01:43] ShyamW commented on #32
no support on windows 10, got working in compatibility mode with windows 7

[2016-10-04 03:30] zeokav commented on #29
Thank you for your help, @memsharded. I'd done pretty much the same thing, except I didn't put the third argument in copy (rang/include). I'll push the code with these changes soon. :)

[2016-10-04 07:38] memsharded commented on #29
Tip: Don't be afraid to get into the ``~/.conan/data`` folder and inspect what is there. It is very transparent. Going into the build/shaxxxx folder, you can clearly see the structure of folders and know better what is there, to put in the ``copy`` command. Similar for example into the ``export`` folder to check if you are doing an in-source package, or into the ``package/shaxxxx`` folder to verif

[2016-10-04 11:58] agauniyal commented on #32
What do you mean by no support for windows 10? This library works fine on windows 10, I've personally tested when I had a windows 10 system. Can you be more specific?

[2016-10-04 12:24] agauniyal commented on #29
@memsharded Thankyou 😄 that was some quality support there. I managed to install conan via pip before seeing this message, however ran into same problem as mentioned by @zeokav and now it's resolved thanks to you.

@zeokav if everything's clear you can make a PR against latest develop branch instead of master :)

[2016-10-04 12:31] memsharded commented on #29
You are welcome :) Indeed the preferred way to install conan is the python **pip** package. We have found is the more convenient and less troublesome. Cheers!

[2016-10-04 18:33] #29 closed

[2016-10-04 18:34] agauniyal commented on #30
Required `meson.build` files are already present in both root directory and test directory as well.

[2016-10-05 04:52] AxelStrem commented on #32
Also how can it work in compatibility mode with Win 7 when master branch explicitly does not support Win 7 :laughing:

[2016-10-05 06:23] zeokav commented on #27
Hi again! Is this issue still up for grabs?
Also, is there a way we can iterate through all these or we going to have to brute force and write all the tests manually?

[2016-10-05 06:28] agauniyal commented on #27
The user hasn't submitted anything yet, so yes it is 👍. And yes, we'll have to write all tests manually here since we need to produce same code as someone else might write, though we've to capture every case. But you can use some text editor with multiple cursors to make this easier 😄

[2016-10-05 07:18] zeokav commented on #27
Alright. I'm gonna do this today. 👍

[2016-10-05 07:23] n1zzo commented on #27
Sorry, I've been a little busy these days.
I give you the issue!

[2016-10-05 08:59] AxelStrem opened #34 "Exposing <windows.h> on Windows"
Opening this to discuss possible solutions.
As it is, rang.hpp requires several declarations from `<windows.h>`:
- `HANDLE`
- `STD_OUTPUT_HANDLE`
- `WORD, DWORD`
- `GetStdHandle(DWORD)`
- `SetConsoleTextAttribute(HANDLE, WORD)`

Exposing `<windows.h>` is actually quite bad not only because of autocomplete clogging, but it also defines several nasty macros, e.g. `min` and `max`, which obviously con

[2016-10-05 13:23] agauniyal commented on #34
I see no reason why they would choose so generic method names - `min` & `max` 😪 , although we do have a macro #define NOMINMAX for that, but that might break other things that depend on `windows.h`. How about asking user for including `windows.h` before including `rang.hpp` in his code? This way the user himself would be in charge of dealing with those stuff however he likes to.

Autocomplete clog

[2016-10-05 16:08] AxelStrem commented on #34
`windows.h` is so sad it's actually kinda funny :D
OK, since you've been talking about `rang.hpp` implementation methods, I'll just wrap them up now and we can leave this `windows.h` problem for further discussion.
Personally I think asking user to include it is a good option, this header is so cancerous it's better be as explicit as it gets.
We can add some nice compiler error message macro to cl

[2016-10-05 17:49] agauniyal commented on #27
completed by @zeokav 👍

[2016-10-05 17:49] #27 closed

[2016-10-06 19:36] agauniyal commented on #32
@ShyamW can you confirm it again? One of my friend reports library working fine on windows 10 system. Otherwise I'm going to close this issue.

[2016-10-08 23:58] agauniyal commented on #34
@AxelStrem I'm in favour of leaving it as it is, unless there's some strong reason to not do so. If user is going to use this lib, he'll have to include `<windows.h>` anyhow. Once I release v2.0 in a few days, which will cover all windows versions, I'll post it to other reviewing sites to get a feedback about current implementations and see if someone points out to separate out it again.

[2016-10-08 23:58] #34 closed

[2016-10-09 00:00] agauniyal commented on #32
Please reopen this issue if you find this problem under reproducible environments and I'll be glad to help 😄

[2016-10-09 00:00] #32 closed

[2016-10-09 00:01] agauniyal commented on #31
@raj-maurya the new allColors test has been pushed to develop branch so you can create a windows gif if you wish to 😄

[2016-10-09 00:03] agauniyal commented on #2
This is completed btw, thanks to @AxelStrem :D

[2016-10-09 00:03] #2 closed

[2016-10-30 13:33] AxelStrem commented on #31
will this one do?
![rang-win](https://cloud.githubusercontent.com/assets/11349690/19836886/8134975e-9ebe-11e6-9ee4-c4657784ff3b.gif)

[2016-10-30 17:22] agauniyal commented on #31
Wow, that was fantastic, how did you manage to code this example? Is it windows specific? And yes, this gif is sufficient for README.md 😄 👍

[2016-10-30 17:40] #31 closed

[2016-10-30 17:55] AxelStrem commented on #31
@agauniyal it's actually pretty cross-platform(ish), thanks to rang :smile:
I only used windows-specific `Sleep()`. I also created a small game using only rang as graphics, great times lol - https://www.youtube.com/watch?v=WiAYsS6A8RI

[2016-10-30 18:03] agauniyal commented on #31
@AxelStrem That's really cool 🎆 , about using sleep you can also use - http://en.cppreference.com/w/cpp/thread/sleep_for which is again cross-platform 😄 . Would love to see source for your games, animations and other stuff!

[2016-10-30 19:22] AxelStrem commented on #31
oh yeah, this is actually a really good thought, my brain kinda defaults to `Sleep()` when I'm coding something small, a bad habit from 2003 I guess :D

[2016-11-18 23:24] yahiafarghaly opened #40 "adding the support of rang on windows"
i started working on your code of the rang for the windows platform, for now i achieved the text color only
and will do the remaining in another time.
there is a lots of differences for color/styles codes on windows unlike UNIX systems.

currently i compiled and tested the code with visual studio community c++ 2015 but not added the project
files of visual studio in my repo yet as i will try to ma

[2016-11-18 23:28] yahiafarghaly opened #41 "adding MSVC build support in cmake file for windows"
the cmake is building only for unix systems and gcc compiler and nothing for MSVC compiler

[2016-11-18 23:30] agauniyal commented on #40
Hi 😄 , glad to see you've worked on this issue but I would like to remind you that someone has already ported the code to windows. The latest code is visible in [develop](https://github.com/agauniyal/rang/tree/develop) branch of this repo. I will be releasing v2 of rang with windows support soon. Thankyou for your interest :)

[2016-11-18 23:31] agauniyal commented on #41
Updated code is visible here - https://github.com/agauniyal/rang/tree/develop

Should build on windows as well since AppVeyor tests are passing.

[2016-11-19 17:32] #40 closed

[2016-11-20 08:50] #41 closed

[2016-12-11 10:12] #30 closed

[2016-12-11 17:00] ldionne opened #42 "Question: Does it make sense to support outputting arbitrary colors?"
Would it make sense to allow outputting arbitrary colors specified by a hex color code? I'm not sure whether that can even be implemented (i.e. whether terminals even support it), so this is more a question than a feature request at this point.

[2016-12-11 19:59] ldionne commented on #42
Thanks for the answer.

Don't consider this a feature request; I just wanted to know if it made sense, and if so bring it to your attention because it's an obvious generalization of being able to output predefined colors only.

[2016-12-11 20:04] agauniyal commented on #42
I'll work on a separate function under the same namespace and test it on a few machines in next few days. If everything works out, I'll release a newer version of rang with said feature.

[2016-12-15 14:13] konsilanto opened #48 "wrong escape codes for reversed, crossed and conceal?!"
I think reversed should be 7, conceal should be 8, and crossed should be 9

[2016-12-15 18:19] agauniyal commented on #48
Thankyou, you're right, I'll push a fix soon. Never had a compatible terminal to see these attributes 😃

[2016-12-15 19:08] #48 closed

[2016-12-17 13:19] qbradq opened #51 "Question: Willing to Accept More Curses-Like Features?"
There is a community of people who still develop applications with the ncurses library. Most of these applications do not require the full feature set of ncurses, only require a few basic features. Would you be willing to accept pull requests for the below feature set or do you feel they fall outside the scope of Rang?

[code]

[2016-12-17 13:32] agauniyal commented on #51
@qbradq as long as they are in their separate namespace, why not? Those would be great additions to the library and still preserve the minimalism as you say.

My only concern would be their compatibility with sheer number of terminals and of course with windows 10 cmd too. But as long as calling those methods does nothing on non supported terms, we're doing fine. eg calling `rang::style::blink` do

[2016-12-17 16:04] zethon opened #52 "Two features that would be nice to have"
1) **A switch to turn this on and off.** Not sure how this could be done in with the relative statelessness of the library, but it would be nice to be able to provide my users with an option to disable colors (some people hate it) and not have to have two different code paths

2) **Storing the colors in a stream for later printing** It would be nice if we could do something like:

std::ostream foo

[2016-12-17 16:13] qbradq commented on #51
I'll give you a warning up front: I haven't coded in C++ in 20 years and I'm only just getting back into things. Can you help me understand what you mean by a separate namespace? Do you mean a separate wrapping namespace like rang_implementation or a separate client-facing namespace like rang? Also I can test things just fine in my fork. Don't worry about that :)

[2016-12-17 18:53] agauniyal commented on #51
@qbradq it's much simpler. `rang_implementation` is for things user don't want to use directly as in with their IDE autocompletion. But other than that, when you'd be introducing a bunch of new methods/objects and if they share some concept, put them in the same namespace eg your example demonstrated - `rang::control::hideCursor;` and `rang::control::reset;` both in same control namespace. but if

[2016-12-17 19:05] agauniyal commented on #52
Thankyou for your kind words 😄 . About **1st** - one thing we could try is having `rang::colors::off` or something so when next time it prints, colors are not shown. or I'm open to ideas if you've any.
For **2nd** - it was on my mind when I started but I somehow forgot along the way. I do have some exams coming this month but I'll work on it when I get some time. Meanwhile I'm open to accepting Pu

[2016-12-18 00:09] AxelStrem commented on #52
I think the **1st** can be done simply via the non-tty-output mechanics: just settig the rang::coutbuf to `nullptr` should disable the coloring. It would still be sensitive to the "force color" thing of course but perhaps this is even a desired behavior?
(congratulations on the release by the way :D )

[2016-12-18 07:49] agauniyal commented on #52
or maybe by using `enum class control { autoColor = 0, forceColor = 1 };`  with another added member `offColor = 2`? Then we could do -

[code]

and at last modify this bit -

[code]
to accept 3 values instead of 0 and 1 which acted as bool. What's your thought about this @AxelStrem ?

[2016-12-19 13:51] zethon commented on #52
@agauniyal That implementation for #1 is the path I started going down to implement this on my own. If I get something working well in the next few days I'll submit a pull request.

[2016-12-19 20:24] agauniyal commented on #52
@zethon sure thing 👍

[2016-12-20 03:51] lefticus commented on #51
I would be interested in helping with this also. I was looking initially at starting with the `pos()` code https://msdn.microsoft.com/en-us/library/system.console.setcursorposition(v=vs.110).aspx?f=255&MSPPError=-2147217396&cs-save-lang=1&cs-lang=cpp#code-snippet-1

@qbradq have you started working on this at all?

[2016-12-20 09:12] AxelStrem commented on #52
@agauniyal yeah, that looks like a proper way to do it. Can't find any reasons for that not to work:)
No ideas on #2 though

[2016-12-20 09:21] AxelStrem commented on #51
I would love these features too - ready to help if there's any need

[2016-12-21 17:33] qbradq commented on #51
@lefticus I am working on it now. I've been buried at work for the past several days but I finally got that issue resolved. Plus I've got some time off coming :)

Thank you both for offering to help. Feel free to work on what you like. I am starting with positional output. Perhaps one of you could start on the input portion? I was thinking we'd probably want to separate the input handling into a s

[2016-12-21 18:15] agauniyal commented on #51
@qbradq is compile time overhead large enough for this change? As far as I know most people use build systems(or are moving to use one) and most of the project isn't recompiled each time a new change is introduced. Another point is the ease of use this lib provides, just drop the header file and use it. Plus the work this lib does wouldn't be spread across 100s of files that's for sure.

So I woul

[2016-12-21 18:18] agauniyal commented on #51
Features -

 - Hide cursor
    [ ] vt100
    [ ] windows < 10

 - Clear the screen
    [ ] vt100
    [ ] windows < 10

 - Discover Terminal Dimensions
    [ ] vt100
    [ ] windows < 10

 - Position Cursor
    [ ] vt100
    [ ] windows < 10

 - Get buffered input
    [ ] vt100
    [ ] windows < 10

 - Get unbuffered input
    [ ] vt100
    [ ] windows < 10

 - Reset Terminal
    [ ] vt100
    [ ]

[2016-12-21 18:32] agauniyal commented on #52
The second one looks like one of the feature request made up in #51 though,

[2016-12-21 18:39] qbradq commented on #51
@agauniyal Input handling could get pretty large. There's a lot of variance between terminals that we could run into. And for some use cases like a terminal-only game terminal output can be spread out all over the place. However I do agree that it's better to wait until a problem presents itself before trying to solve it.

[2016-12-21 18:44] agauniyal commented on #51
@qbradq if the situation demands, I won't disagree to splitting up input methods into `rang-input.hpp`.

[2016-12-21 18:49] qbradq commented on #51
I realize now that the test program for some of the conditional output will require user interactivity. So I'm going to work on the input side of things first.

[2016-12-21 18:52] agauniyal commented on #51
@AxelStrem maybe you can help with 'hide cursor' and 'clear screen' issue since they seem to be well supported in vt100(linux and win >=10) machines but I've no idea with win < 10 versions of cmd. I've linked info in this comment - https://github.com/agauniyal/rang/issues/51#issue-196221739

[2016-12-21 19:09] qbradq opened #53 "Undocumented Behavior: Not Thread-Safe in C++11"
The implementation of rang::rang_implementation::getIword() is not thread-safe in a strictly standards-compliant C++11 compiler. According to [this](http://en.cppreference.com/w/cpp/io/ios_base/xalloc) thread-saftey for std::ios_base::xalloc was standardized in C++14. Please document the library as thread-unsafe for C++11 compilers or change the implementation to use a synchronization object when

[2016-12-21 19:41] agauniyal commented on #53
This one can be an easy fix by putting a lock_guard as the first statement, but I wanted to confirm do we actually need this since the function is called to a local static initialization -
[code]

[2016-12-21 19:45] agauniyal commented on #53
we can in fact embed guards for only pre c++14 code - http://stackoverflow.com/questions/26089319/is-there-a-standard-definition-for-cplusplus-in-c14

[2016-12-21 20:19] qbradq commented on #53
I've already got a patch for this. I noticed that you're not actually using the iword as a stream identifier (yet), only to store global state about the library. So I've replaced that method with atomic<bool>& isColorEnabled() . See PR#54

[2016-12-22 00:59] qbradq commented on #51
@agauniyal @AxelStrem For windows < 10 see [Windows Console Functions](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682073(v=vs.85).aspx). Use FillConsoleOutputAttribute() and FillConsoleOutputCharacter() to clear the screen.

[2016-12-22 03:37] agauniyal commented on #53
Yup that is a better method than using `std::ios_base::xalloc();` for such task. Good work 👍

[2016-12-22 15:19] agauniyal commented on #53
solved in #54

[2016-12-22 15:19] #53 closed

[2016-12-23 02:29] qbradq commented on #51
@agauniyal What do you think of this interface?
[code]

[2016-12-23 04:56] agauniyal commented on #51
@qbradq this looks good to me but again I'm not so experienced with such code. I do have a few ques -

- In `rang::Key::F1`, about these special keys, how many of them would be supported? F1-12? or something else too. And how are these stored and recognized? probably in an enum since switch cases deal with integer values, right?

- what is `rang::Key` basic type here? Or should I frame the ques as

[2016-12-23 15:49] agauniyal commented on #51
`ReadConsoleInput` should work on all version of windows, shouldn't it? We just made a distinction between windows >=10 and windows < 10 because windows 10 finally supported ansi escape sequences in cmd, while earlier versions weren't compatible so we had to use native windows methods. So if an existing function which is working on windows 7, it should work in newer versions too unless specified s

[2016-12-24 05:00] agauniyal commented on #52
@zethon the first request has landed in develop branch and for now it's stable so you can fork the repo if you need that option right now. I'm putting halt on further feature development till #56 is completed which is going to bring major changes in the lib. I'll take look at the 2nd request after it.

[2016-12-24 13:23] agauniyal commented on #42
@ldionne So I've tested a prototype that supports both 256 colors and 24 bit truecolor(rgb mode) but the problem that remains is - there is no way to test if a terminal emulator supports it or not. Some of them do, but we still cannot hardcode them because they managed to support it after certain version which they might or might not expose via env variables.

tldr; it works but there is no way to

[2016-12-24 13:32] agauniyal commented on #52
I was testing some scratch code and your 2nd request is also possible without changing much code. instead of direct writing to cout, you'll have to force rang to output colors(instead of autodetect itself) and write to a `std::ostream` object. then there would be a function where you'll feed that object along with a number (0 = offColor, 1 = autoColor, 2 = forceColor) again and feed that function

[2017-01-08 11:39] zethon commented on #52
Will your suggested implementation work for concatenating streams? If other words, I would like to do something like:

[code]

Or even have `buffer1` and `buffer2` feed into a `buffer3` and then call `std::cout << buffer3;`

[2017-01-08 12:57] agauniyal commented on #52
What I was thinking of was along the lines of a function `rang::someFunc(buffer, mode)` where you could pass a single buffer or two concatenated buffers and it would either strip out escape codes or autodetect or let them remain in the stream before printing to cout -

[code]

I'm open to suggestions and PRs if you've anything else in mind.

[2017-01-17 08:35] agauniyal opened #58 "use termdb to parse terminal capablities accurately"
Using - https://github.com/agauniyal/termdb, it will add support for ancient terminals too.

Existing logic will remain mostly unchanged, only a check for current `$TERM` value will be made against parser, and if found, values from parser will be extracted to be used instead of current ones. If the parser isn't able to parse the terminfo entry for some reason, current logic will be applied as it i

[2017-02-26 01:51] henryiii opened #59 "Informational: plumbum.colors"
FYI:
If you'd like to take a look at the Python library I wrote for color manipulation, its docs are [here](http://plumbum.readthedocs.io/en/latest/colors.html). The design docs are [here](http://plumbum.readthedocs.io/en/latest/colorlib.html). While it very much a python library, it might be useful for ideas. The `atexit` I believe has a analog in C and C++ -- Probably not useful for the library

[2017-02-26 05:55] agauniyal commented on #59
Thankyou, I'll take a look at your lib and also improve the examples. I'm a bit busy atm but this library is going to get some features/updates pretty soon.

[2017-02-26 05:55] #59 closed

[2017-03-12 02:18] agauniyal commented on #51
@qbradq you'll be glad to know that terminfo parser has finally landed in `develop` branch. So stuff like hiding cursor, clearing screen are a single line addition to library now 😄 . Though we still need a terminfo parameterized string expansion method before going further.

[2017-03-12 02:32] agauniyal opened #60 "Add method for terminfo parameterized string expansion"
Auto color detection is currently broken in `develop` branch because of absence of terminfo's parameterized string expansion method so we could parse color strings. Would be fairly easy to add here - https://github.com/agauniyal/termdb/issues/3

This will complete the request for support of terminfo based output and will be released with v3

[2017-03-28 08:29] malays opened #62 "cygwin support?"
It should be easy to add cygwin support by supporting __CYGWIN__ and rearranging the if-else ladder

[2017-03-28 09:55] malays commented on #62
Realized that the problem with cygwin was not the macro, but the cmd. Basically -std=gnu11++ works fine

[2017-03-28 10:01] #62 closed

[2017-03-28 12:07] agauniyal commented on #62
@malays glad this got resolved quick, I'll add a note in wiki/README when v3 is released soon :)

[2017-05-26 15:16] tatjam opened #63 "MSVC not compiling when including "rang.hpp""
I'm not sure what am I doing wrong but whenever I include "rang.hpp" outside of Main.cpp i get this compile error:

``error LNK2005: "void * __cdecl rang::rang_implementation::getVersionDependentHandle(void)" (?getVersionDependentHandle@rang_implementation@rang@@YAPAXXZ) already defined in [Wathever].obj``

Any idea what is happening ~~and how could I fix it~~?

[2017-05-26 15:20] tatjam commented on #63
By the way I manually fixed it in my code by basically putting the "getVersionDependentHandle" code everywhere is it called, doing the inlining for the compiler! That works properly but may be interesting to look into this error.

[2017-05-27 00:58] agauniyal commented on #63
@tatjam Thankyou for the bug report. Could you try one thing and put `inline` in front of `getVersionDependentHandle` method ie. the line number [178](https://github.com/agauniyal/rang/blob/master/include/rang.hpp#L178) should be -

```inline HANDLE getVersionDependentHandle()```

This should fix the error and if your program builds, I'll commit the change :)

[2017-05-27 21:33] tatjam commented on #63
Alright I will try it, will reply in a moment

[2017-05-27 21:41] tatjam commented on #63
Well, this is strange! Writing inline before it worked, but required me to do the same on``void rang_init()`` too. Upon these changes it works... I suppose this is a compiler bug more than a rang error.

[2017-05-27 21:44] tatjam commented on #63
Will try to compile on gcc with both the original and the modified version to see if this has to do with MSVC (I suppose it does)

[2017-05-28 01:49] agauniyal commented on #63
Don't worry about gcc and clang compilers, I'll test them myself 😸 . I don't have an windows machine or vm image nearby otherwise I would've tested it myself. I'll download the vm image again but it'll take some time(20+ GB on 8Mb/sec connection 😂 ).

Just tell me the minimum modifications you did to solve the problem and I'll run the tests on different sets of compilers 👍 . Thanks!

[2017-05-28 01:52] agauniyal commented on #63
isn't `void init()` method already inlined - https://github.com/agauniyal/rang/blob/master/include/rang.hpp#L259 ?

[2017-05-28 11:55] tatjam commented on #63
Oh I downloaded it from "Releases", instead of directly from the repo. Indeed the file on the repo is correct.

It just requires to put an inline behind the ``getVersionDependentHandle()`` function and it works beautifully! :)

[2017-05-28 12:55] agauniyal commented on #63
@tatjam I've uploaded a new release with right changes - https://github.com/agauniyal/rang/releases/tag/2.1. I hope it builds easily now and you makes something cool out of it 🎉 .

I'll be closing this issue but feel free to reopen if something doesn't works as expected 😄 /

[2017-05-28 12:56] agauniyal commented on #63
@tatjam I've uploaded a new release with right changes - https://github.com/agauniyal/rang/releases/tag/2.1. I hope it builds easily now and you makes something cool out of it 🎉 .

I'll be closing this issue but feel free to reopen if something doesn't works as expected 😄 .

[2017-05-29 09:39] #63 closed

[2017-10-31 07:54] kingseva opened #66 "Bug during resetting fg/bg on windows."
I'm look into your test colortest.cpp and run it on windows7 on mingw64 6.3.0. It does not work properly.

Look at your test code:

[code]
...

[code]
When you doing rang::fg::reset or rang::bg::reset you pass 39-30 = 9 and 49-40 = 9 to your funcion:

[code]
and it returns some trash instead of correct 3 bit value.
I'm change your functions to workaround this:

[code]
And it's fixed.

So. Default

[2017-10-31 13:03] agauniyal commented on #66
@kingseva thankyou for raising the issue. I use Linux primarily since about 3-4 years and windows 10 onwards both Linux and windows use ANSI escape sequences correctly so it is supported. Another user provided windows (< 10) support which I'm thankful for but it might be possible that some error sneaked in during PRs so this does not work as intended on MinGW.

Would you mind opening another PR ag

[2017-11-07 12:37] agauniyal commented on #66
Merged! Thankyou for your work on this PR @kingseva 😄

[2017-11-07 12:37] #66 closed

[2017-11-16 02:08] chuyangliu commented on #51
😃 I am glad that I found this library and this issue because I am currently developing games on terminals for research. My games need features below and I have written some simple functions to fulfill it:

- [setCursor()](https://github.com/chuyangliu/Snake/blob/master/src/util/console.cpp#L20)
- [clear()](https://github.com/chuyangliu/Snake/blob/master/src/util/console.cpp#L34)
- [getch()](https:

[2017-11-16 03:02] agauniyal commented on #51
@chuyangliu yes they can be added to the library! There is an undergoing work with terminfo parser which will bring methods like `setCursor()` and `clear()` very soon to all linux terminals and windows already has those functions you've used. The last two functions can be put inside `rang::key` namespace. There is a new release `2.5` coming in 2-3 days which adds support for windows mingw/cygwin/b

[2017-11-16 03:08] chuyangliu commented on #51
@agauniyal Thanks a lot. I am looking forward to it!

[2017-12-12 21:00] #60 closed

[2018-01-03 22:28] sbellon opened #72 "Respect ANSICON environment variable on Windows"
If environment variable ANSICON is set on Windows, the console is capable of ANSI sequences, so preferably use them.

What about this patch?

Sorry for the formatting, it seems markup is mocking up ...

[2018-01-04 07:25] kingseva commented on #72
Well, ANSICON is a DLL extension for native Windows console (cmd.exe). https://www.photogabble.co.uk/blog/tools-and-resources/ansi-command-line-colors-under-windows/
From windows 10 microsoft added support of ansi colour sequences, and Rang internally can use it.

Don't forget that Rang is crossplatform lightweight interface for colour terminal. It's goal to provide same interface on any backend l

[2018-01-04 07:47] sbellon commented on #72
Yes, but with that one-line patch colors are more vivid when run from within ANSICON than without that patch.

[2018-01-04 08:00] kingseva commented on #72
I'm agree that rang can emulate support of bold, reversed... etc styles same as ANSICON terminal. Otherwise i don't see any difference on screenshots above. Can you drag and drop comparision screenshots of your app to see that difference?

[2018-01-04 08:08] sbellon commented on #72
<img width="497" alt="2018-01-04_09h05_45" src="https://user-images.githubusercontent.com/1427724/34554744-ab5c2fce-f12e-11e7-8641-1a70ba035039.png">

On the left is the output of yellow and red with my patch inside an ANSICON terminal, on the right side without my patch. This is on Windows 10 Fall Creators Update.

[2018-01-04 08:08] kingseva commented on #72
Is it next-release branch?

[2018-01-04 08:15] sbellon commented on #72
No, this is master. Is this deprecated? Should I use next-release branch?

[2018-01-04 08:27] kingseva commented on #72
I'm think yes because master branch still have an old bug #66. Master branch should be updated later when @agauniyal makes a decision

[2018-01-04 08:34] sbellon commented on #72
But even with next-release branch I get more vivid colors when doing this in setWinTermAnsiColors():

`        return true;
    } else if (getenv("ANSICON")) {
        return true;
    } else {
        return false;`

[2018-01-04 08:51] kingseva commented on #72
Ok, you use style::bold of warning/error text? If it is, rang on current version don't emulate bold text as you can see on my screenshot above. Better to emulate it inside setWinAttribute function instead of dependency from ANSICON. Try to add this code to setWinAttribute:
[code]

I'm think it should be added on next release as other styles like reversed.

[2018-01-04 09:26] sbellon commented on #72
Ok, that works. Thank you.

[2018-01-04 09:30] kingseva commented on #72
**Update.** Don't forget to use 0xFFF8 in setWinAttribute(rang::fg... ) because now it's should preserve flag of bright text after bold operation. See patch above.

[2018-01-04 09:36] sbellon commented on #72
Hm, those bit/flag operations seem indeed a bit fragile to me. Don't the Windows headers define macros that could be used here instead?

[2018-01-04 10:09] kingseva commented on #72
That's original code from rang repository. Maybe code don't use any macro names due to portability. But of course it's better to use macro names instead of magic numbers. Macro names can be used from wincon.h https://docs.microsoft.com/en-us/windows/console/console-screen-buffers

It's possibel to rewrite that code after all tasks, but it's required to check as much as possible compilers to suppor

[2018-01-04 10:21] sbellon commented on #72
BTW, shouldn't that be `state |= 0x88` and in setWinAttribute(rang:fg...) then `0xFFF8` and additionally in setWinAttribute(rang:bg...) then `0xFF8F` as well because "intensity" can also apply to background?

[2018-01-04 11:55] kingseva commented on #72
No, it shouldn't. Note that all this enum codes is used inside ASCII sequences. As we use this trick, for better compability all code that use winapi should work like ASCII sequences backend as much as possible. From ANSICON sequences [manual](https://github.com/adoxa/ansicon/blob/master/sequences.txt#L17-L19) we can see that bold is emulated  strictly for foreground and underline/blink style is u

[2018-01-05 01:32] agauniyal commented on #72
I've actually touched very little part of windows code(just slight maintenance) and have relied on community support for it. I was waiting for #71 to get merged before merging `next-release` into `master` and make a new release of rang since that removes one pain point of manually including versionhelpers.h file on older targets. I'm open to changes regarding usage of macros as well as the changes

[2018-01-06 16:48] agauniyal commented on #58
Not coming in 3.0

[2018-01-06 16:48] #58 closed

[2018-01-11 13:28] agauniyal commented on #72
@sbellon can you check the latest `next-release` branch commit, @kingseva submitted a PR related to above discussion and if you're happy we'd close this issue 😄

[2018-01-11 17:00] sbellon commented on #72
Yes, works fine. Thanks a lot! :-)

[2018-01-11 17:00] #72 closed

[2018-01-11 17:02] sbellon commented on #52
Regarding the "turn on/off colors", what about an environment variable RANG_COLORS that can be set to on/off to force to turn on or off colors? That way code can stay the same but the user can control whether to enable or disable colors if the automatic detection says otherwise?

[2018-01-20 21:37] agauniyal commented on #52
I think it would be better to leave that choice to the user of this library. This way user can decide whether to use 'RANG_COLORS' or something other like 'COLORS' etc and call `setControlMode()` after detecting the env variable themselves 😸

[2018-01-28 15:33] namratachaudhary opened #79 "tarball/zipball on info page are linked to gh-pages branch"
the packages listed here for download : https://agauniyal.github.io/rang/

[2018-01-28 16:49] agauniyal commented on #79
https://github.com/agauniyal/rang/releases

[2018-01-28 16:49] #79 closed

[2018-02-03 18:17] agauniyal opened #82 "Potential UB in isMsysPty function"
At line - https://github.com/agauniyal/rang/blob/master/include/rang.hpp#L195

Relevant comments from slack chat -

[2018-02-03 19:25] agauniyal commented on #82
There are few other warnings - http://rextester.com/TGIJP95971, mostly harmless I think. One that stood out was -
[code]
pointing to -
[code]

[2018-02-04 08:56] kingseva commented on #82
Ok. Take look into struct FILE_NAME_INFO defined in WinBase.h

[code]
Data alignment of this struct is 4 on x86/x86_64, and sizeof is 8 on both architectures.
The definition of **nameinfo** comes from this code:
[code]
1. We use sizeof(FILE_NAME_INFO) but not sizeof(DWORD ) + sizeof(WCHAR). This means that we assume that all padding inside struct is used correctly for determining it's size. So, we

[2018-02-04 09:32] djarek commented on #82
The compiler is not required to over-align objects with automatic storage duration. Here's a counterexample to your theory of "all modern CPUs [...]": https://wandbox.org/permlink/93g0rJHgCCvkoJUd

If you're making assumptions about the target implementation of C++, you should verify them. Preferably at compile time, but if not possible, do it at run time. And if doing runtime checks triggers disg

[2018-02-04 13:03] kingseva commented on #82
@djarek Thanks for your example. It confirms that code will wok even buffer is unaligned. It's a joke :smile:. Maybe i'm lucky and not seen any problems before during testing because it's always been created as aligned... I don't know.

LOL, Its really interesting how to use GetFileInformationByHandleEx wihout undefined behaviour :smiley: Please ask Microsoft how to do this :rofl:

Ok, consider we

[2018-02-04 13:11] glenfe commented on #82
You are wrong: It is UB. Please read [[basic.align]](http://www.eel.is/c++draft/basic.align). Those are the only guarantees you have.

You've determined that `alignof(T)` on one C++ implementation is N. You know that `alignof(char)` on all implementations are 1. If you're writing code that assumes `char buffer[S];` is always at least `alignof(T)` aligned then you have UB and you might be targeting

[2018-02-14 09:42] #82 closed

[2018-03-02 02:22] asio1337 opened #86 "Missing wide char support"
Hey,
i cant use wide char stream like wcout.

[2018-03-02 03:34] agauniyal commented on #86
@asio1337 its there in https://github.com/agauniyal/rang/tree/version4 branch if you really want to use it right now. Otherwise, I'm going to release it in few days after adding cursor support to library :smile:

[2018-03-02 20:06] asio1337 commented on #86
@agauniyal thank you very much. it works :)

[2018-03-05 20:01] jogloran opened #87 "hex (or oct) or other stream manipulators will cause unexpected ANSI escape codes to be generated"
Because `setColor` is implemented simply by inserting an `int` into the stream, the output will be affected by `hex` or `oct` or potentially other stream manipulators such as `setw`. Should the stream manipulator state be stored with `ios.copyfmt` and loaded after the escapes have been printed?

[2018-03-06 06:15] kingseva commented on #87
You are right. We are somehow have forgot about format flags. We should store int to decimal string value using explicitly dec | left flags.

So instead of:
[code]
we should write:

[code]
(in real code basic_ostringstream<CharT, will used)

It's better than storing flags explicitly using flags method:

[code]

because user may set exceptions:
[code]
this may cause exception thrown before we resto

[2018-03-06 09:41] aggsol opened #89 "Add version to header"
I usually copy the header into my projects but it is hard to track which version it is. How about adding a `#define RANG_VERSION` to it?

[2018-03-06 12:44] agauniyal commented on #87
@kingseva wouldn't `os.str()`'s string be affected by `setw` or some other string manipulator? what if some user creates [custom stream manipulators](https://stackoverflow.com/questions/799599/c-custom-stream-manipulator-that-changes-next-item-on-stream) which modifies the `os.str()` :thinking:

[2018-03-06 15:42] agauniyal commented on #87
saving current flag and restoring them can be safely done with a scope guard -
[code]

[2018-03-06 16:17] kingseva commented on #87
Yes. It's the same as boost::io::ios_flags_saver. But requires more code.

I don't know how to safely write to cout/wcout if user wants to replace standart operator for std::string/std::wstring. Maybe using cout.flush and than writing to corresponding FILE, using  fwrite, but it's terrible.

[2018-03-06 16:42] kingseva commented on #89
It's also good idea to add version/about functions that returns version string and short description of the library.

[2018-03-06 17:03] agauniyal commented on #89
@aggsol would -
[code]
format fine for you?

@kingseva why not constexpr members inside `rang::` namespace :stuck_out_tongue:
[code]
though I don't know if people really use versions like this :thinking:. Anyways I'll add both in next version :+1:

[2018-03-07 15:13] aggsol commented on #89
@agauniyal Fine for mie, I just need a way to manually check what version a header is.

[2018-03-08 06:48] agauniyal commented on #89
Added for [next-release](https://github.com/agauniyal/rang/tree/version4).

[2018-03-08 06:48] agauniyal commented on #87
Added for [next-release](https://github.com/agauniyal/rang/tree/version4).

[2018-03-09 04:23] kingseva commented on #87
Another way of doing this is using unformatted output through write function. We also can create escaped string using snprintf/wsnprintf functions: http://rextester.com/UEV26874

[2018-03-10 17:46] agauniyal commented on #87
This should solve the problem as well, much simpler but don't know about the cost.
[code]

[2018-03-10 18:52] kingseva commented on #87
In this case we create temporary stream, the cost of it's creating depends from library call std::basic_ios::init. And than we call 3 times operator << that internally checks formatting flags and parse and write values to 'os'  buffer. The reason why I'm propose it to place to another function is to avoid code duplication in setColor functions (for windows ansi and linux). Also user may wanted to

[2018-03-11 04:20] kingseva commented on #89
I think it will be more convenient to place version macros is on top of the header not on the bottom :smile:. Most of developers don't like to scroll down headers to see witch version of header they addded to the project.

Also it's handy to use check version macros:
[code]

[2018-03-11 07:16] kingseva commented on #87
By the way, you give me an idea how to place this code in different function and use it anywhere where streams is used.
[code]
It's easy to use in our operator << :
[code]
We can use ostringstream and above function for std::string creation:
[code]
And specializations for ansi/wansi:
[code]
In this approach we are explicitly depends from std::basic_streambuf. It may be bad if we wanted to port ran

[2018-03-12 02:53] agauniyal commented on #87
This is lot more cleaner, I'll revisit this way for version 5. For version 4 release, let's stay with saving stream flags method since my focus is on cursor operations :smile:

[2018-03-12 03:31] kingseva commented on #87
We also have minor and patch numbers in version :smile: Why not 4.1 ?

[2018-04-13 01:27] zethon opened #91 "CMakeLists.txt removed?"
I've been using this project for a while and just recently updated my repo to 3.1.0 only to find that CMakeLists.txt was removed in 9dd62bad5be09276902b7cb09a6d4c68276587bd.

Is there any reason the file was actually removed? It's not a huge problem but even if your CI is not using it, it would still be nice to have for those of us using CMake.

[2018-04-13 03:54] agauniyal commented on #91
@zethon I'm not uptodate with cmake so was under worry that I might be breaking something. However I'll accept a PR if you want to add it to this repo :)

[2018-04-13 10:39] zethon commented on #91
How would you feel about a minimal CMake file just so that it's easy to include this project in CMake-based projects? In other words, nothing that builds the tests, just something that sets up the proper includes?

[2018-04-16 14:10] illera88 opened #93 "Use printf instead of cout"
Hi,
i would like to know how can I use your library with `printf`.

Something like:

[code]
This does not work since using `%s` expects a `char*` and not a `enum` as `rang::bg::magenta` is.

Thank you

[2018-04-16 15:50] agauniyal commented on #93
@illera88 currently, this library is based heavily on streams so this is not possible for now. The code is under The Unlicense and I encourage people to take bits of it and reuse it for themselves if you want this functionality right now.

I am willing to accept PRs for `rang::to_string(rang::enums)` method if someone wants a take on it otherwise I'll add that method in the upcoming version. I'm f

[2018-04-16 16:16] #91 closed

[2018-05-28 03:07] shin4523 opened #95 "Want to use more text colors and fonts."
I wanted to send a PULL REQUEST by adding text styles and colors. However, It was done by using the ANSI Escape Code and I thought it was impossible to add it.
I want to know how can I use more text styles and colors!!

[2018-06-04 02:18] quietash9704 opened #97 "Find bug using Background colors."
Hello, developer.
I send pull request that helps other testers use your programs.

But, while I test that, find bug using Background colors.

When I do 'bg::reset' before 'endl', that works well. Show the url.
`cout << bg::red << "------Select Menu------" << bg::reset << endl;`
https://imgur.com/a/KPBlEE5

But, when I do 'bg::reset' after 'endl', that makes problems. Show the url.
`cout << bg::red

[2018-06-04 02:26] quietash9704 opened #98 "Can I save the output form in text file?"
Can I have a question for you?
When I change the text style using your program, I want to save the change in text file.
Is there some way to save the change?

If it can, this could make the program more practical.

[2018-06-04 17:08] agauniyal commented on #98
You can redirect cout's stream buffer to a file instead and then use force property of rang to write to it. If you'll output the file on the terminal it'll be just like you used rang directly instead of a file. But keep in mind that if you open the file now, it'll contain garbage + text because it contains color instructions along with text.

[2018-06-04 17:11] agauniyal commented on #97
It's because endl means a newline so you're asking rang to -
1. Set bg as red
2. Output a new line still with bg red
3. Reset bg to normal

hence the wrong image behavior. The fix is exactly what you've done ie reset bg before endl.

[2018-07-19 22:34] Lecrapouille opened #103 "storing color in variable"
Hi ! this is not an issue. I get inspired by your library. I need to store style and fg color in a variable for a postponed usage. Here is the idea:
[code]
So why not adding in your lib something like:
[code]
A simple test code could be:
[code]
I dunno what could be the best: `std::pair` (ugly and long syntax but can be used with constexpr) or `struct` (drawback: make copy). personally I would pre

[2018-07-20 07:26] agauniyal commented on #103
This is a great idea, will definitely reduce noise in those `cout` statements :+1:.

Afaik the `rang::color` struct/class can be constexpr as well and I wouldn't worry about copies here(they're so small :stuck_out_tongue:). I'll look into implementing this through this weekend but there's a higher priority task pending in `develop` branch(bringing cursor movements to library) so can't gurantee whe

[2018-07-20 17:57] Lecrapouille commented on #103
Ok but beware:
- in the setColor(), given in this example, I probably get wrong with the order of style/fg/bg: the order impacts a lot on the display (I gave up adding bg color in the structure)
- you will probably have to adapt your `using enableStd = typename std::enable_if< ...` for adding the color structure on it, else I just noticed that g++-5.4 got problem with `operator<<` (with my code).

[2018-08-25 16:50] lefticus opened #104 "Using rang with {fmt}"
Similar to issue #93 I'm wondering if there's a way to effectively use rang with [{fmt}](https://github.com/fmtlib/fmt).

Assuming no one has any specific suggestions I'll probably try sorting out what adapter options there might be for it, short of writing to `std::stringstream` and sending that to {fmt}.

[2018-08-26 09:40] agauniyal commented on #104
Rang operates in 2 modes - 1. Linux + Windows 10 2. Older Windows. The problem is with older windows where it actually calls some functions instead of sending terminal sequences(text code) to stdout/stderr etc. So I don't think current design will work with printf/{fmt} anyways...

[2018-08-26 21:01] lefticus commented on #104
I actually think now that I've spent time playing with this, that this feature doesn't make any sense.

Taking into account what you said, plus just practically speaking:

[code]

Works just fine.

[2018-08-27 17:33] agauniyal commented on #104
yeah PR would be great addition @lefticus :+1:

[2018-10-06 22:36] hbobenicio opened #105 "Make rang available for vcpkg"
It would be awesome to install rang with just a `vcpkg install rang`!

[2018-10-17 06:43] agauniyal commented on #105
I'll take a look at vcpkg this weekend since I'm clueless about what needs to be done.

[2018-11-02 14:30] HemilTheRebel commented on #52
I am beginner but i can help. (I may need a mentor). If we make another class RangBuffer. it will contain all the enums and it will implement the output operator '<<'. I am on it

[2018-11-02 14:44] HemilTheRebel opened #106 "controlMode always returns control::Auto"
controlMode always returns control::Auto. It does not make sense to do this in operator <<:
`const control option = rang_implementation::controlMode();
       switch (option) {
            case control::Auto:
                return rang_implementation::supportsColor()
                    && rang_implementation::isTerminal(os.rdbuf())
                  ? rang_implementation::setColor(os, value)

[2018-11-07 08:04] agauniyal commented on #106
I feel I don't understand the problem, could you rephrase it again or maybe provide some example 🤔

[2018-11-11 10:32] HemilTheRebel commented on #97
This issue should be closed

[2018-11-11 16:06] Lecrapouille commented on #103
@HemilTheRebel is this one https://github.com/agauniyal/rang/pull/107 ? Ok I'll give a try.
(note: I just updated my previous comment just to add unit tests because last time I said I have not made one)

[2018-11-11 16:17] HemilTheRebel commented on #103
Yes. It is the one i am talking about. Even i forgot to reference my PR.

[2018-11-11 17:14] Lecrapouille commented on #103
I've never deal with PR, but it seems you changed indentation of the original code (I had to activate the option "hide whitespace changes" to see you real changes). You should have create a special PR just for fixing indentation, else it will difficult for people understanding your change once in git history. Also try to follow the author coding style "if(" vs "if (" same for the "for" and for com

[2018-11-12 05:17] HemilTheRebel commented on #103
Thank you so much @Lecrapouille .

I made the following changes:

1) Removed the bitset. After seeing your code, i realized all i needed was a std::string in my class. That was it. Removed every bit of unnecessary thing!
2) Concatenated all colors into a string variable. The operator << is clean of unnecessary if-else.
3) I don't think we need two clear functions but added them anyway. One functio

[2018-11-12 18:36] Lecrapouille commented on #103
@HemilTheRebel seems good to be ! Maybe m_finalColor can be directly be a stream, this could avoid conversion stream -> string -> stream

[2018-11-13 03:20] HemilTheRebel commented on #103
Done. How can i not figure that out? Stupid me. Thanks a lot

[2018-11-15 18:26] HemilTheRebel opened #109 "Potential source of bugs in setColor(std::ostream& os, T const value)"
There is this piece of code which can lead to surprising behaviour
[code]
I understand that:

1. They are a part of the rang_implementation namespace which most people won't touch (i hope no one does :P)
2. It will only compile on non-windows operating systems.

But it can be a potential cause of bugs. Because (as I see) it is used with template parameter and we don't have concepts yet. We might w

[2018-11-16 12:46] Enhex opened #110 "Fails to create Conan package with Meson"
getting the following error when trying to use `conan create`:
`meson: error: argument --buildtype: invalid choice: '' (choose from 'plain', 'debug', 'debugoptimized', 'release', 'minsize', 'custom')`

[2018-11-16 18:36] Lecrapouille commented on #109
@HemilTheRebel I did not understand well the meaning of "we don't have concepts yet" so I hope to answer you correctly concerning "We might want to make sure it is something that rang supports. We could use macros to enable the checks"

In the code there is already you check with:
[code]
* It acts like a macro (so checked at compiled time). The `using` is equivalent to `#define` therefore `enableS

[2018-11-17 01:29] ConsoleTVs opened #111 "[Fixing warning] cast between incompatible function types"
[code]

This is the only warning I get

[code]

Is there a way to fix it quickly?

[2018-11-17 04:15] HemilTheRebel commented on #109
My bad. Skipped the enablestd

[2018-11-17 04:15] #109 closed

[2018-11-22 10:35] inobelar opened #112 "Broken links on the site page"
Following issues related to https://agauniyal.github.io/rang/

1. link to windows terminal image not shown:
    - ![image](https://user-images.githubusercontent.com/20372668/48897282-4c526f80-ee52-11e8-979d-aaf6383a2e19.png)

2. `Rang is a single header-only library. Put` **rang.hpp** `in the include folder directly`
   - link of `rang.hpp` is broken - redirects to: https://agauniyal.github.io/ran

[2018-11-24 04:06] #97 closed

[2018-11-24 04:35] agauniyal commented on #105
Tracking - https://github.com/Microsoft/vcpkg/issues/4809

[2018-11-24 05:42] agauniyal commented on #111
Hmm, is this related to this PR - https://github.com/agauniyal/rang/pull/102/files :thinking:

[2018-11-29 19:59] bissonex commented on #111
Yes indeed. Do I need to fix something in the PR so that you could merge it?

[2018-12-08 18:39] #111 closed

[2018-12-08 18:41] agauniyal commented on #93
I don't know a way to make rang work with printf and still support older Windows versions( < 10), not thinking of leaving those versions anytime soon so closing this issue. If need arises, I can think of making some other API which works with printf but that would be a hack instead of proper code...

[2018-12-08 18:41] #93 closed

[2018-12-08 18:42] agauniyal commented on #98
closing because of no activity.

[2018-12-08 18:42] #98 closed

[2018-12-08 18:43] agauniyal commented on #95
You can use more colors, I'll add experimental support for truecolors pretty soon, but I don't know if you can use more styles than currently available.

[2019-03-15 11:27] Bhupesh-V opened #114 "Does not work in Ubuntu"
Colours are not displayed

![error](https://user-images.githubusercontent.com/34342551/54428398-68508880-4743-11e9-80f3-454cb948964f.png)

[2019-03-28 15:07] DBJDBJ commented on #104
#include <stdio.h>
          #define RED "\x1b[31m"
          #define RESET "\x1b[0m"

         int main (int argc, char **argv)
         {
                 fmt::format(RED "Red {}" RESET "\n", "Face");
                return 0;
         }

[2019-04-17 19:26] zethon commented on #114
Works fine for me on 18.04

![image](https://user-images.githubusercontent.com/5203583/56315143-f645d780-6124-11e9-9177-6ed3b0d6c439.png)

[2019-05-11 10:30] agauniyal commented on #114
@Bhupesh-V check your $TERM env, the problem would be there most likely. I've rechecked it and it works fine so closing the issue. Feel free to leave a comment if it still doesn't works and I'll reopen and investigate.

[2019-05-11 10:30] #114 closed

[2019-05-19 17:17] yurivict opened #115 "[feature request] Please asupport true-color terminals"
For example, see how the awk script on this page prints a colorful line on text: https://gist.github.com/XVilka/8346728

kde/gnome/xfce4 terminals now support true-color, and C++ interface can certainly support this functionality.

[2019-05-21 03:23] data-man commented on #115
Duplicate of #42

[2019-05-21 03:34] data-man commented on #104
IMO, can be closed.
Latest fmt already supports colors and styles.
See screenshots on [releases](https://github.com/fmtlib/fmt/releases).

[2019-06-24 18:40] #104 closed

[2019-07-21 11:20] SodiumThiocyanate opened #116 "A warning may be fixed"
When I used parameter **-Wextra** in g++, it gives a warning:

It's on line 175 in rang.hpp:
[code]
All the parameters I used under Windows 10 1903, g++ 8.1.0:
g++ -std=c++2a -Wall -Wextra -Dlocal

[2019-07-27 13:38] agauniyal commented on #116
I think its supposed to give a warning here but if you know a better solution I'd be glad to merge it.

[2019-07-31 03:21] SodiumThiocyanate commented on #116
Well... Actually I have no idea about how to fix it. It seems that it's a previous problem in Windows API. I should ignore tons of warnings from MSVC library. :)

[2019-10-08 13:13] aggsol opened #119 "Support NO_COLOR environment variable"
Support the NO_COLOR environment variable. See details here:

https://no-color.org/

[2019-10-27 14:17] zethon commented on #119
Why would the library support this? Let the project using the library do the work of reading the environmental variable and disabling color accordingly.

[2019-10-28 08:28] aggsol commented on #119
Yeah you are right.

[2019-10-28 08:28] #119 closed

[2019-12-13 12:09] zethon opened #121 "New release tag"
Is the code on `master` in a good state to be made into a new release? The [last release](https://github.com/agauniyal/rang/releases/tag/v3.1.0) is lacking the CMakeLists.txt file, so I'm forced to use `master` in my project when I pull this in. It'd be nice to have a release point to pull in instead.

[2020-03-30 02:26] SodiumThiocyanate commented on #116
@agauniyal I pulled a request for the fixed version of this warning.

[2020-07-07 11:52] jakoblover opened #124 "rang::fg:yellow is not supported in PowerShell"
Only rang::fgB::yellow is supported in powershell. fg::yellow works fine in other terminals such as cygwin

[2020-07-26 16:45] agauniyal commented on #124
Not much can be done on our end :)

[2020-08-07 11:41] #124 closed

[2021-02-11 09:53] Abir-Tx opened #125 "Fix the errors while compiling"
I got these errors while compiling my project. I used the ```rang.h``` header file. Please fix this issue if possible. I am getting these errors -

[code]

[2021-02-11 10:47] agauniyal commented on #125
The error seems to mention -

Could you try the same? This was added by another contributor to the library so I assume it to be of some significance.

[2021-02-11 17:04] Abir-Tx commented on #125
Including the header above all other header solved the problem. **Thanks**
But can you please elaborate the second method which is setting the ```_WIN32_WINNT``` . How can I do that ?

[2021-02-11 17:39] agauniyal commented on #125
@Abir-Tx maybe this'll help - https://docs.microsoft.com/en-us/cpp/porting/modifying-winver-and-win32-winnt?view=msvc-160

[2021-02-11 17:51] Abir-Tx commented on #125
Okay, Thanks a lot for the help brother . ❤
 Solved my issue real quick.

[2021-02-11 17:52] #125 closed

[2021-07-29 13:12] amirmasoudabdol commented on #121
I agree. There is a nice PR already merged for v4 with a very nice CMake file, and I really hope we get a new release with that.

[2021-07-30 00:14] agauniyal commented on #121
@amirmasoudabdol I've imported that PR's change in https://github.com/agauniyal/rang/tree/new_cmake , is this all that needs to be done?
I'll release a minor version with those CMake files if it works for you.

[2021-07-30 07:46] amirmasoudabdol commented on #121
Let me test this, and I will let you know! 🙂

[2021-07-31 10:54] agauniyal commented on #121
@zethon v3.2 is out, thanks to @amirmasoudabdol.

[2021-07-31 10:54] #121 closed

[2021-07-31 10:55] agauniyal commented on #105
It's already there!

[2021-07-31 10:55] #105 closed

[2021-07-31 11:39] zethon commented on #121
Yay! Only 1.5 years later. :)